<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>Support Admin</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="css/style1.css" rel="stylesheet" />
    <!-- Google	Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Nova+Flat' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css' />
</head>
<body>
<div id="head">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="index.html">
                    <img src="/images/logo.png"  />
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center" >
                <img src="/images/top-mouse.png "  class="header-mid" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h4><span>Call:</span> +01-4589-987-567</h4>
                <h4><span>E-mail:</span> info@domain.com</h4>
            </div>

        </div>
    </div>
</div>    <section>
    <div class="container">
        <div class="row noti-div">
            <div class="col-lg-4 col-md-4 col-sm-4  text-center">
                <a href="admin-user-list.html">
                    <div class="alert alert-danger">
                        <i class="fa fa-user fa-4x"></i>
                        <span class="label label-info">用户管理</span>
                        <span class="label label-danger">5</span>
                        <p>
                            管理用户请点击这里

                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4  text-center">
                <a href="admin-open-tickets.html">
                    <div class="alert alert-success">
                        <i class="fa fa-folder-open-o fa-4x"></i>
                        <span class="label label-warning">商品管理</span>
                        <span class="label label-success">45</span>
                        <p>
                            商品用户请点击这里

                        </p>
                    </div>
                </a>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-4  text-center">
                <a href="admin-support-cat.html">
                    <div class="alert alert-warning">
                        <i class="fa fa-briefcase fa-4x"></i>
                        <span class="label label-success">添加商品</span>
                        <span class="label label-warning">4</span>
                        <p>
                            添加商品请点击这里

                        </p>
                    </div>
                </a>
            </div>
        </div>


    </div>

</section>
<section id="main">
    <div class="container">
        <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9">
                 
                       <h3>Notice ID  <span class="label label-danger">#109</span> 
                   </h3>
                                          
                      <h3>Subject <span class="label label-default">Admin Notification Subject Text</span></h3> 
                     <div class="hr-div"> <hr /></div>
                    
                      
                       <div class="panel panel-default">
  <div class="panel-heading"><strong class="label label-danger">By Admin</strong><span class="label label-success pull-right">Dated: 9/07/2014</span> </div>
  <div class="panel-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                       Nulla pretium lectus vel justo iaculis blandit.
                       Nulla facilisi. In hac habitasse platea dictumst.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      <strong>
                       Nulla pretium lectus vel justo iaculis blandit.
                       Nulla facilisi. In hac habitasse platea dictumst.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </strong>
      <ul>
          <li>
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </li>
           <li>
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </li>
            <li>
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </li>
            <li>
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </li>
      </ul>
                       Nulla pretium lectus vel justo iaculis blandit.
                       Nulla facilisi. In hac habitasse platea dictumst.
      <hr />
       Nulla pretium lectus vel justo iaculis blandit.
                       Nulla facilisi. In hac habitasse platea dictumst. 
      Nulla pretium lectus vel justo iaculis blandit.
                       Nulla facilisi. In hac habitasse platea dictumst.
  </div>
</div>
                    
                     

                </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <a href="index.html" class=" label label-danger"><strong>退出后台管理</strong> </a>
                <div class="list-group">
                    <a href="#" class="list-group-item active">用户管理
                    </a>

                    <a href="admin-index.ejs" class="list-group-item">商品管理</a>
                    <a href="admin-user-list.html" class="list-group-item">添加商品</a>
                    <a href="admin-change-password.html" class="list-group-item">修改密码</a>


                </div>


            </div>
        </div>
    </div>
</section>
<div id="footer">
    <div class="container">

        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10" >
                <h3>帮助指南</h3>
                <h4 style="display: inline-block;margin-right: 20px;"><span>电话: </span>+01-4589-987-567</h4>
                <h4 style="display: inline-block;margin-right: 20px;"><span>E-mail: </span>info@domain.com</h4>
                <p style="display: inline-block;margin-left: 100px;"> copy 2018 yourdomian </p>
            </div>

        </div>

    </div>

</div>
<!--  Jquery Core Script -->
<script src="/js/jquery1.min.js"></script>
<!--  Core Bootstrap Script -->
<script src="/js/bootstrap.js"></script>

</body>
</html>

