<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>后台管理</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME CSS -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="/css/style1.css" rel="stylesheet" />
    <!-- Google	Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Nova+Flat' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css' />
</head>
<body>
<div id="head">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="index.html">
                    <img src="/images/logo.png"  />
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center" >
                <img src="/images/top-mouse.png "  class="header-mid" />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h4><span>Call:</span> +01-4589-987-567</h4>
                <h4><span>E-mail:</span> info@domain.com</h4>
            </div>

        </div>
    </div>
</div>    <section>
    <div class="container">
        <div class="row noti-div">
            <div class="col-lg-4 col-md-4 col-sm-4  text-center">
                <a href="/admin">
                    <div class="alert alert-danger">
                        <i class="fa fa-user fa-4x"></i>
                        <span class="label label-info">用户管理</span>
                        <span class="label label-danger">123</span>
                        <p>
                            管理用户请点击这里
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4  text-center">
                <a href="/admin/goodList">
                    <div class="alert alert-success">
                        <i class="fa fa-folder-open-o fa-4x"></i>
                        <span class="label label-warning">商品管理</span>
                        <span class="label label-success">45</span>
                        <p>
                            商品用户请点击这里

                        </p>
                    </div>
                </a>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-4  text-center">
                <a href="/admin/showaddGoods">
                    <div class="alert alert-warning">
                        <i class="fa fa-briefcase fa-4x"></i>
                        <span class="label label-success">添加商品</span>
                        <span class="label label-warning"></span>
                        <p>
                            添加商品请点击这里

                        </p>
                    </div>
                </a>
            </div>
        </div>


    </div>

</section>
<section id="main">
    <div class="container">
        <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 alert alert-info">

                    <h3 class=" text-center">添加新的商品</h3>
                   <div class="hr-div"> <hr /></div>

                    <form  method="post" action="/admin/doaddGood" enctype="multipart/form-data">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label>商品名</label>
                            <input type="text"class="form-control" name="goodName" id="goodName"  placeholder="商品名 " />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label>￥价格</label>
                            <input type="text"class="form-control" id="goodPrice" name="goodPrice"  placeholder="商品价格 " />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label>商品编号</label>
                            <input type="text" class="form-control" id="goodId" name="goodId"  placeholder="商品编号 " />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label for="exampleInputEmail1">选择品种</label>
                            <select  id="goodType" name="goodType" class="form-control">
                            <%for(var i=0;i<result.length;i++){%>
                                <option><%= result[i] %></option>
                                <%}%>
                            </select>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label>商品描述</label>
                            <textarea  class="form-control" name="goodIntroduce" id="goodIntroduce" rows="14" placeholder="写点什么" ></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">选择图片</label>
                            <p>尺寸小于4M</p>
                            <input type="file" id="exampleInputFile" multiple  name="tupian">
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <button type="submit" class="btn btn-default">上传</button>
                        </div>

                    </form>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a href="/" class=" label label-danger"><strong>退出后台管理</strong> </a>
                    <div class="list-group" id="list-group">
                        <a href="/admin" class="list-group-item">用户管理
                        </a>

                        <a href="/admin/goodList" class="list-group-item">商品管理</a>
                        <a href="/admin/showAddGoods" class="list-group-item">添加商品</a>
                        <a href="admin-change-password.html" class="list-group-item">修改密码</a>


                    </div>


                </div>
            </div>
        </div>
    </section>
    <div id="footer">
        <div class="container">

            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-10" >
                    <h3>帮助指南</h3>
                    <h4 style="display: inline-block;margin-right: 20px;"><span>电话: </span>+01-4589-987-567</h4>
                    <h4 style="display: inline-block;margin-right: 20px;"><span>E-mail: </span>info@domain.com</h4>
                    <p style="display: inline-block;margin-left: 100px;"> copy 2018 yourdomian </p>
                </div>

            </div>

        </div>

    </div>
    <!--  Jquery Core Script -->
    <script src="/js/jquery.min.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/underscore.js"></script>
</body>
<script type="text/javascript">
$("#list-group").children().click(function () {
    this.addClass("active").siblings().removeClass("active");
});
</script>
</html>

